body {
    background-color: #000; 
    background-repeat: repeat;
    background-size:contain;
    font-family: 'Raleway', sans-serif;
  }
  
  footer {
      font-size: 7px;
      text-align: right;
      padding-top: 90px;
      padding-right: 20px;
      position: relative;
      color: rgb(255, 255, 255);
    }
  
    .container {
      position: static;
    }
  
    .jumbotron {
      padding: 10px;
      background-color: #666666;
      color: #999999;
      opacity: 65%;
    }
  
    .banner {
      text-align: center;
      padding: 10px;
      border: 10px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
    }
  
    a.nav-link {
        text-decoration: none;
        display: inline-flex;
        flex-wrap: nowrap;
        padding:5px 5px;
        border:0.16em solid #cccccc;
        border-radius:2px;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.2s;
        background-color:#999999;

    }
        
    a.nav-link:hover{
        border-color: #999999;
    }
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 0;
        list-style: none;
    }

    .mood-bar {
      background-color: #666666;
      border: 3px solid #ffffff;
      color: #ffffff;
      padding: 5px;
      margin: 20px;
      height: 500px;
      float: center;
      opacity: 85%;
    }
  
    #mood-button {
      padding: 5px;
      height: 50px;
      width: 50px;
      border: 1px solid #000;
    }
  
    

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff

}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff

}

h3 {
    font-size: 13px;
    color: #cccccc

}

h4 {
    font-size: 8px;
    color: #ffffff

}

.info {
      font-size: 25px;
      text-align: center;
      padding: 15px;
    }
  

  
    
  
 